.copyright
  copyright 2020 Felix Wolfsteller,
.hire
  available for hire
  &nbsp;
  %i.fa.fa-check

.license
  published under
  &nbsp;
  %a(href="https://creativecommons.org/licenses/by-nc-sa/4.0")
    CC-BY-NC-SA 4.0+

.code
  %a(href="https://github.com/fwolfst/")
    %span
      %i.fa.fa-github.fa-fw
    %span
      this page
