.copyright
  copyright 2020 Felix Wolfsteller,
.hire
  available for hire
  &nbsp;
  %i.fa.fa-check
.code
  %a(href="https://github.com/fwolfst/")
    %span
      %i.fa.fa-github.fa-fw
    %span
      this page
