.head
  .brand
    %img.brand(src='https://avatars2.githubusercontent.com/u/219373?s=460&v=4')
-#  .statement
-#    statement

%nav
  .nav-item
    {% assign home_link = site.baseurl | append: "/" %}
    %a(href="{{ home_link }}")
      HOME
  .nav-item
    {% assign snacks_link = site.baseurl | append: "/snacks" %}
    %a(href="{{ snacks_link  }}")
      SNACKS
  .nav-item
    {% assign resources_link = site.baseurl | append: "/resources" %}
    %a(href="{{ resources_link  }}")
      RESOURCES
  .nav-item
    {% assign about_link = site.baseurl | append: "/about" %}
    %a(href="{{ about_link  }}")
      ABOUT

.foot
  %a(href="https://troet.cafe/web/accounts/93840")
    %i.fa.fa-mastodon
  %a(href="https://github.com/fwolfst")
    %i.fa.fa-github
  %a(href="https://www.linkedin.com/in/felix-wolfsteller")
    %i.fa.fa-linkedin
  %a(href="https://www.xing.com/profile/Felix_Wolfsteller")
    %i.fa.fa-xing
  %a(href="{{ 'feed.xml' | relative_url }}")
    %i.fa.fa-rss
