---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  display: grid;
  grid-template-areas: 
    "sidebar header  header"
    "sidebar content side"
    "sidebar footer  footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 0px;
  grid-column-gap: 0px;

  height: 100vh;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

#header {
  grid-area: header;
  background-color: green;
  background: linear-gradient(to right, #ddd, white 50%);
  box-shadow: inset 0px -10px 10px -10px #ccc;

  padding-left: 2em;
  padding-top:  1em;
}

#sidebar {
  grid-area: sidebar;
  background-color: red;
  background: radial-gradient(circle, white 0%, #ddd 100%);
  position: fixed;
  min-height: 100%;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: solid 1px #aaa;

  .head {
    background-color: grey;
    opacity: 0.8;
  }
  nav {
    //background-color: grey;
    //opacity: 0.6;
    ul {
      display: flex;
      flex-direction: column;

      list-style-type: none;
      li {
        align-self: center;
      }
    }
  }
  .foot {
    background-color: grey;
    opacity: 0.4;
  }
}

#content {
  grid-area: content;
  background-color: blue;
  background: #fefefe;

  padding: 2em;
}

#side {
  grid-area: side;
  background-color: grey;
  background: #eee;
  box-shadow: inset 10px 0px 12px -12px gray;

  padding-left: 2em;
  padding-top:  2em;

  #toc {
    .section-nav {
      list-style-type: decimal;
      li {
        ul {
          margin-left: -2em;
          list-style-type: none;
          font-size: 14px;
        }
      }
    }
  }
}

#footer {
  grid-area: footer;
  background-color: yellow;
  background: #eee;

  box-shadow: inset 0px 10px 10px -10px #ccc;
  padding: 2em;
}
