---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  display: grid;
  grid-template-areas: 
    "sidebar header  header"
    "sidebar content side"
    "sidebar footer  footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 0px;
  height: 100vh;
  margin: 0;
}

#header {
  grid-area: header;
  background-color: green;
}

#sidebar {
  grid-area: sidebar;
  background-color: red;
  background: radial-gradient(circle, white 0%, grey 100%);
  position: fixed;
  min-height: 100%;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-left: solid 1px black;
  border-right: solid 1px black;

  .head {
    background-color: grey;
    opacity: 0.8;
  }
  nav {
    //background-color: grey;
    //opacity: 0.6;
    ul {
      display: flex;
      flex-direction: column;

      list-style-type: none;
      li {
        align-self: center;
      }
    }
  }
  .foot {
    background-color: grey;
    opacity: 0.4;
  }
}

#content {
  grid-area: content;
  background-color: blue;
}

#side {
  grid-area: side;
  background-color: grey;
}

#footer {
  grid-area: footer;
  background-color: yellow;
}
