---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'normalize.css';
@import 'assets/css/classic';
@import 'assets/css/typography';
@import 'assets/css/resources';

body {
  display: grid;
  grid-template-areas: 
    "sidebar header  header"
    "sidebar content side"
    "sidebar footer  footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 0px;
  grid-column-gap: 0px;

  height: 100vh;
  max-width: 100%;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  min-width: 0px;
  min-height: 0px;
}

#header {
  grid-area: header;
  background-color: green;
  background: linear-gradient(to right, #ddd, white 50%);
  box-shadow: inset 0px -10px 10px -10px #ccc;

  padding-left: 2em;
  padding-right: 2em;
  padding-top:  1em;

  text-align: right;

  color: #aaa;
}

#sidebar {
  grid-area: sidebar;
  background-color: red;
  background: radial-gradient(circle, white 0%, #ddd 100%);
  position: fixed;
  min-height: 100%;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: solid 1px #aaa;

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 2;

    .brand {
      width: 50%;

      img {
        border-radius: 50%;
        width: 100%;
        box-shadow: 0 0 25px 2px #aaa;
        border: 3px solid #eee;
      }
    }
  }

  nav {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .nav-item {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  .foot {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    i {
      font-size: 1.15em;
      color: #333;
    }
  }
}

#content {
  grid-area: content;
  background-color: blue;
  background: #fefefe;

  padding: 2em;
  min-width: 0;
  //min-height: 0;

  pre {
    max-width: 100%;
    overflow-x: auto;
  }
  h1.title {
    margin-top: 0px;
    border-bottom: solid 1px #ddd;
  }
  a:link, a:visited {
    color: #357;
  }
}

#side {
  grid-area: side;
  background-color: grey;
  background: #eee;
  box-shadow: inset 10px 0px 12px -12px gray;

  padding-left: 2em;
  padding-top:  2em;

  #toc {
    h2 {
      margin-top: 0px;
    }
    .section-nav {
      list-style-type: decimal;
      margin-left: -1em;
      padding-right: 0.2em;

      li {
        ul {
          margin-left: -2em;
          list-style-type: none;
          font-size: 14px;
          padding-bottom: 0.1em;
          li {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
          }
        }
        padding-bottom: 0.6em;
      }
    }
  }
}

#footer {
  grid-area: footer;
  background-color: yellow;
  background: #eee;

  box-shadow: inset 0px 10px 10px -10px #ccc;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: inline-block;
    padding-left:  1em;
    padding-right: 1em;
    color: #999;
  }
}

.highlight {
  pre {
    border: 1px solid #ccc;
    padding: 0.5em;
    background-color: #f7f7f7;
  }
}

.post-list-entry {
  border-bottom: solid 1px #999;
  width: 100%;
  padding-bottom: 1.3em;
  .more {
    padding-top: 1em;
  }
}


.post-meta {
  color: #999;
  font-size: 0.9em;
  padding-bottom: 0.3em;
}

.categories-vertical {
  display: flex;
  flex-direction: column;

  .category {
    border: solid 1px #bbb;
    border-radius: 15px;
    padding: 0.4em;
    color: #888;
    margin-bottom: 0.5em;
    margin-right: 1em;
    text-align: center;
  }
}
.categories-horizontal {
  display: flex;
  flex-direction: row;
  min-width: 0;
  flex-basis: 100%;
  flex-wrap: wrap;

  .category {
    border: solid 1px #bbb;
    border-radius: 15px;
    padding: 0.4em;
    color: #888;
    margin-bottom: 0.5em;
    margin-right: 1em;
    text-align: center;
    .count {
      display: inline-block;
    }
  }
}

.post-item {
  padding-bottom: 1.5em;
}

code, kbd, samp {
  color: #933;
}
