a:link {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #303030;
  text-decoration: none;
}

a:hover {
  color: #444;
  text-decoration: underline;
}

blockquote {
  background-color: #eee;
  font-family: mono;
  border-left:   5px solid #aaa;
  border-right:  1px solid #ddd;
  border-top:    1px solid #ddd;
  border-bottom: 1px solid #ddd;

  padding-left: 1em;
}
