---
layout: default
---

{{ content }}

%h1 Blog Posts

.post-list
  {%- for post in site.posts -%}
  .post-list-entry
    %h3
      %a.post-link{href: "{{ post.url | relative_url }}"}
        {{ post.title | escape }}
    {% for category in post.categories %}
    {% assign category_slug = category | slugify %}
    .tags(style="float:right;")
      %a(href="{{ 'categories/#' | append: category_slug }}")
        .tag
          {{ category }}
    {% endfor %}

    .post-meta
      {{ post.date | date: site.date.formats.short }}
    {{ post.content | strip_html | truncatewords: 50 }}
    .more
      %a.post-link{href: "{{ post.url | relative_url }}"}
        more ...
  {%- endfor -%}

