---
layout: default
---

{{ content }}

%h1 Blog Posts

.post-list
  {%- for post in site.posts -%}
  .post-list-entry
    %h3
      %a.post-link{href: "{{ post.url | relative_url }}"}
        {{ post.title | escape }}
    .post-meta
      {{ post.date | date: site.date.formats.short }}
    {{ post.content | strip_html | truncatewords: 50 }}
  {%- endfor -%}

